
.k-block-fields-preview {
  margin: -0.75rem;
  overflow: hidden;
  border-radius: var(--rounded);
}
.k-block-fields-preview .k-block-title {
  padding: 0.75rem;
  background: #f7f7f7;
}
.k-block-fields-preview:not([data-hidden="true"]) .k-block-title {
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.k-block-fields-preview .k-fields-block-toggle {
  margin-left: auto;
  cursor: pointer;
}
.k-block-fields-preview[data-hidden="true"] .k-fields-block-toggle {
  transform: scaleY(-1);
}
.k-block-fields-preview .k-form {
  padding: 1.25rem 1.5rem 1.5rem 1.5rem;
}

/**
 * Reset `.k-layout-column .k-empty` overrides
 */
.k-block-fields-preview .k-empty {
  position: static !important;
  opacity: 1 !important;
  align-items: stretch !important;
  justify-content: flex-start !important;
  color: #777 !important;
  border: 1px dashed #ccc !important;
  border-radius: 1px !important;
}
.k-block-fields-preview .k-empty[data-layout="cards"] {
  justify-content: center !important;
}
.k-block-fields-preview .k-empty[data-layout="list"] .k-icon {
  border-right: 1px solid rgba(0,0,0,.05) !important;
}
